*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.vsconfig
*.sln.DotSettings.user
*.uproject
*.tga

/*
!.gitignore
!README.md
!LICENSE

!/Plugins/
!/Plugins/ToroUtilities/
!/Plugins/ToroUtilities/**
/Plugins/ToroUtilities/Binaries/
/Plugins/ToroUtilities/Intermediate/